/Actividad-Practica
/Bootstrap
/Clase 00. Presentación del curso Full Stack Python 23006.pdf
/Clase 01. HTML 1.pdf
/Clase01-HTML1
/Clase02-HTML2
/Clase04-HTML4
/Clase05-CSS1
/Clase06-CSS2
/Clase07-CSS3
/Clase08-CSS4
/Clase09-CSS5
/Clase10-CSS6
/Clase10.html
/Clase11-Bootstrap
/Clase12-GIT (Material extra)
/Clase13-JS1
/Clase14-JS2
/Clase15-JS3
/El gran libro de HTML CSS y Javascript - J D Gauchat - 3ra Edicion.pdf
/Enlaces.docx
/GIF animados
/Guia_Estudiante_2023.pdf
/HTML_1
/HTML_2
/HTML_3
/index.html
/Patrones de Diseño Web
/Plan de estudios Curso Full Stack Python 2023.pdf
/TPO.zip
/vsc-keyboard-shortcuts-linux.pdf
/vsc-keyboard-shortcuts-windows.pdf